@import "tailwindcss";



.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }

  :root {
    --font-inter: "Inter", sans-serif;
    --font-space-grotesk: "Space Grotesk", sans-serif;
  }

  
  
  body {
    font-family: var(--font-inter);
    height: 100%;
  scroll-behavior: smooth;
 
  }

  .font-inter {
    font-family: var(--font-inter) !important;
  }

  .font-space-grotesk {
    font-family: var(--font-space-grotesk) !important;
  }
  

  @layer utilities {
    .scroll-quick {
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
      scroll-snap-stop: always;
      scroll-timing-function: ease-out;
      scroll-duration: 20ms; /* Adjust this value for speed */
    }
  }
  

  